# Trial#1

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## Import CSV

In [19]:
roster_df = pd.read_csv("dota2_ti_2011_2021_rosters.csv")
turnamen_df = pd.read_csv("dota2_ti_2011_2021_tournaments.csv")

## Summary Data

In [20]:
roster_df.head()

,year,team,id,role_at_event,country,full_name,date_of_birth,profile_url
0,2011,Natus Vincere,Artstyle,Carry,Ukraine,Ivan Antonov,1989-04-20,https://liquipedia.net/dota2/Artstyle
1,2011,Natus Vincere,Dendi,Solo Middle,Ukraine,Danil Ishutin,1989-12-30,https://liquipedia.net/dota2/Dendi
2,2011,Natus Vincere,XBOCT,Offlaner,Ukraine,Oleksandr Dashkevych,1990-12-29,https://liquipedia.net/dota2/XBOCT
3,2011,Natus Vincere,Puppey,Support,Estonia,Clement Ivanov,1990-03-06,https://liquipedia.net/dota2/Puppey
4,2011,Natus Vincere,LighTofHeaveN,Hard Support,Russia,Dmitry Kupriyanov,1988-01-04,https://liquipedia.net/dota2/LighTofHeaveN

In [21]:
roster_df.shape

(710, 8)

In [22]:
turnamen_df.head()

,event,year,grand_final_date,place,team,earnings,prize_pool_percent,wins,losses,win_rate,logo_url
0,The International,2011,2011-08-21,1,Natus Vincere,1000000,0.625000,NaN,NaN,NaN,https://cdn.escharts.com/uploads/public/5f7/b0...
1,The International,2011,2011-08-21,2,EHOME,250000,0.156250,NaN,NaN,NaN,https://cdn.escharts.com/uploads/public/592/40...
2,The International,2011,2011-08-21,3,Scythe Gaming,150000,0.093750,NaN,NaN,NaN,https://liquipedia.net/commons/images/0/0c/Scy...
3,The International,2011,2011-08-21,4,Meet Your Makers,80000,0.050000,NaN,NaN,NaN,https://liquipedia.net/commons/images/1/1d/Mee...
4,The International,2011,2011-08-21,5,Moscow Five,35000,0.021875,NaN,NaN,NaN,https://liquipedia.net/commons/images/e/ed/M5_...

In [23]:
turnamen_df.shape

(142, 11)

In [25]:
roster_df.year.unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2021],
      dtype=int64)

In [26]:
roster_df.describe()

              year
count   710.000000
mean   2016.408451
std       2.848192
min    2011.000000
25%    2014.000000
50%    2017.000000
75%    2019.000000
max    2021.000000

## Filter Data

In [67]:
roster_df.iloc[-5:]

,year,team,id,role_at_event,country,full_name,date_of_birth,profile_url
705,2021,Fnatic,Raven,Carry,Philippines,Marc Polo Luis Fausto,1998-09-22,https://liquipedia.net/dota2/Raven
706,2021,Fnatic,ChYuan,Solo Middle,Malaysia,Ng Kee Chyuan,1995-11-12,https://liquipedia.net/dota2/ChYuan
707,2021,Fnatic,Deth,Offlaner,Singapore,Yang Wu Heng,1994-12-27,https://liquipedia.net/dota2/Deth
708,2021,Fnatic,Jabz,Support,Thailand,Anucha Jirawong,1998-09-22,https://liquipedia.net/dota2/Jabz
709,2021,Fnatic,DJ,Hard Support,Malaysia,Djardel Jicko Mampusti,1994-11-06,https://liquipedia.net/dota2/DJ

In [61]:
roster_df.iloc[:, [2, 5, 4]]

                id               full_name      country
0         Artstyle            Ivan Antonov      Ukraine
1            Dendi           Danil Ishutin      Ukraine
2            XBOCT    Oleksandr Dashkevych      Ukraine
3           Puppey          Clement Ivanov      Estonia
4    LighTofHeaveN       Dmitry Kupriyanov       Russia
..             ...                     ...          ...
705          Raven   Marc Polo Luis Fausto  Philippines
706         ChYuan           Ng Kee Chyuan     Malaysia
707           Deth            Yang Wu Heng    Singapore
708           Jabz         Anucha Jirawong     Thailand
709             DJ  Djardel Jicko Mampusti     Malaysia

[710 rows x 3 columns]

In [52]:
turnamen_df.loc[:5, ["team", "earnings"]]

               team  earnings
0     Natus Vincere   1000000
1             EHOME    250000
2     Scythe Gaming    150000
3  Meet Your Makers     80000
4       Moscow Five     35000
5   Invictus Gaming     35000

In [54]:
turnamen_df.loc[:, ["event", "year", "team"]]

                 event  year              team
0    The International  2011     Natus Vincere
1    The International  2011             EHOME
2    The International  2011     Scythe Gaming
3    The International  2011  Meet Your Makers
4    The International  2011       Moscow Five
..                 ...   ...               ...
137  The International  2021        Team Aster
138  The International  2021        beastcoast
139  The International  2021          Elephant
140  The International  2021  Thunder Predator
141  The International  2021        SG esports

[142 rows x 3 columns]

In [81]:
roster_df.loc[(roster_df["team"] == "OG") & (roster_df["role_at_event"] == "Carry")].head()

,year,team,id,role_at_event,country,full_name,date_of_birth,profile_url
310,2016,OG,N0tail,Carry,Denmark,Johan Sundstein,1993-10-08,https://liquipedia.net/dota2/N0tail
385,2017,OG,N0tail,Carry,Denmark,Johan Sundstein,1993-10-08,https://liquipedia.net/dota2/N0tail
440,2018,OG,ana,Carry,Australia,Anathan Pham,1999-10-26,https://liquipedia.net/dota2/ana
530,2019,OG,ana,Carry,Australia,Anathan Pham,1999-10-26,https://liquipedia.net/dota2/ana

In [82]:
turnamen_df.loc[(turnamen_df["place"] == 1)]

,event,year,grand_final_date,place,team,earnings,prize_pool_percent,wins,losses,win_rate,logo_url
0,The International,2011,2011-08-21,1,Natus Vincere,1000000,0.625,NaN,NaN,NaN,https://cdn.escharts.com/uploads/public/5f7/b0...
8,The International,2012,2012-09-03,1,Invictus Gaming,1000000,0.625,24.0,7.0,0.7742,https://cdn.escharts.com/uploads/public/5ce/80...
16,The International,2013,2013-08-12,1,Alliance,1437190,0.500,23.0,3.0,0.8846,https://cdn.escharts.com/uploads/public/588/a1...
24,The International,2014,2014-07-21,1,Newbee,5025029,0.460,22.0,12.0,0.6471,https://cdn.escharts.com/uploads/public/588/a1...
38,The International,2015,2015-08-09,1,Evil Geniuses,6634661,0.360,19.0,8.0,0.7037,https://cdn.escharts.com/uploads/public/5ed/d4...
54,The International,2016,2016-08-14,1,Wings Gaming,9139002,0.440,25.0,10.0,0.7143,https://cdn.escharts.com/uploads/public/588/a1...
70,The International,2017,2017-08-13,1,Team Liquid,10862683,0.440,27.0,8.0,0.7714,https://cdn.escharts.com/uploads/public/5a9/d5...
88,The International,2018,2018-08-26,1,OG,11234158,0.440,32.0,13.0,0.7111,https://cdn.escharts.com/uploads/public/5d6/7b...
106,The International,2019,2019-08-25,1,OG,15620181,0.455,23.0,5.0,0.8214,https://cdn.escharts.com/uploads/public/5d6/7b...
124,The International,2021,2021-10-17,1,Team Spirit,18208300,0.455,20.0,5.0,0.8000,https://cdn.escharts.com/uploads/public/5d6/7b...

In [89]:
roster_df[(roster_df["country"] == "China") & (roster_df["role_at_event"] == "Carry")].head()

,year,team,id,role_at_event,country,full_name,date_of_birth,profile_url
5,2011,EHOME,820,Carry,China,Zou Yitian,1990-04-13,https://liquipedia.net/dota2/820
25,2011,Invictus Gaming,Zhou,Carry,China,Chen Yao,1990-06-14,https://liquipedia.net/dota2/Zhou
40,2012,Invictus Gaming,Zhou,Carry,China,Chen Yao,1990-06-14,https://liquipedia.net/dota2/Zhou
50,2012,PSG.LGD,Sylar,Carry,China,Lio Jiajun,1993-12-20,https://liquipedia.net/dota2/Sylar
55,2012,Team DK,BurNIng,Carry,China,Xu Zhilei,1988-04-16,https://liquipedia.net/dota2/BurNIng

In [96]:
turnamen_df.groupby("year")["earnings"].sum()

year
2011     1600000
2012     1600000
2013     2874381
2014    10923978
2015    18429614
2016    20770640
2017    24687919
2018    25532177
2019    34330069
2021    40018400
Name: earnings, dtype: int64

In [87]:
roster_df.columns

Index(['year', 'team', 'id', 'role_at_event', 'country', 'full_name',
       'date_of_birth', 'profile_url'],
      dtype='object')

In [90]:
turnamen_df["earnings"].describe()

count    1.420000e+02
mean     1.273008e+06
std      2.596999e+06
min      2.184800e+04
25%      1.170912e+05
50%      5.188890e+05
75%      1.110956e+06
max      1.820830e+07
Name: earnings, dtype: float64